@if (ViewBag.IsPjaxRequest ?? false)
{
    <title>@ViewBag.Title</title>
    @RenderSection("styles", false)
    @RenderSection("headScripts", false)
    @RenderSection("footScripts", false)
    @RenderBody()
    return;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MStack.club(微软技术栈俱乐部)</title>
    <meta property="qc:admins" content="1776214747653413363452" /><!--QQ Auth认证-->
    @Styles.Render("~/Content/fx")
    @*@Scripts.Render("~/bundles/modernizr")*@
    @RenderSection("headScripts", false)
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MStack(微软技术栈俱乐部)", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", data_pjax = 1 })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("论坛", "Index", "Forum", null, new { data_pjax = 1 })</li>
                    <li>@Html.ActionLink("推荐书籍", "BookList", "Home", null, new { data_pjax = 1 })</li>
                    <li>@Html.ActionLink("About", "About", "Home", null, new { data_pjax = 1 })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", null, new { data_pjax = 1 })</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div id="pjax-container">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MStack.club(微软技术栈俱乐部)</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/fx")
    @RenderSection("footScripts", required: false)
</body>
</html>
