@model MStack.MainSite.Models.UserModel

@{
    ViewBag.Title = "个人信息";
}

<h2>个人信息</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <img src="@Model.Avatar" class="img-thumbnail" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>

    </dl>
</div>
<div class="row">
    <div class="pull-right">
        @Html.ActionLink("编辑信息", "EditUser", new { id = Model.Id },new { data_pjax = 1 }) |
        @Html.ActionLink("修改密码", "Index",null,new { data_pjax = 1 })
    </div>
</div>

